<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
</div>

<!--<div>-->
<!--    <form method="POST">-->
<!--        <label><input type="text" name="name" placeholder="name" /></label>-->
<!--        <label><input type="text" name="email" placeholder="email" /></label>-->
<!--        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
<!--        <button type="submit">Add</button>-->
<!--    </form>-->
<!--</div>-->

<div>
    <form method="POST">
        <label><input type="text" name="status" placeholder="status" /></label>
        <label><input type="text" name="comment" placeholder="comment" /></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Add</button>
    </form>
</div>

<div>
    <form method="POST" action="/filter">
        <label><input type="text" name="searchkey" placeholder="Search Key" /></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Search</button>
    </form>
</div>

<div> Список счетов </div>
{{#invoices}}
    <div>
    {{id}}
        <b>{{status}}</b>
        <i>{{comment}}</i>
{{/invoices}}
</div>

<!--<div> Users list </div>-->
<!--{{#users}}-->
<!--<div>-->
<!--    {{id}}-->
<!--    <b>{{name}}</b>-->
<!--    <i>{{email}}</i>-->
<!--{{/users}}-->
<!--</div>-->

</body>
</html>